label {
  margin-bottom: 0 !important;
  align-self: center;
}

.App {
  background-color: #484c55;
  font-family: "Roboto", sans-serif;
}

.CodeMirror {
  height: auto !important;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  font-family: "Roboto Mono", monospace !important;
}

.react-codemirror2,
.rendered-markdown {
  width: 900px;
  text-align: left;
  height: auto !important;
  border-radius: 0.2rem;
}

.App-body {
  /* padding-top: 60px; */
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.btn-secondary {
  background: rgba(73, 76, 84, 0) !important;
  border: none !important;
}

html,
body {
  overscroll-behavior: none;
}

.tooltip-inner {
  background-color: #6e757c !important;
}

.tooltip .arrow::before {
  border-bottom-color: #6e757c !important;
  border-top-color: #6e757c !important;
}

.App-link {
  color: #09d3ac;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .tooltip {
  background: red;
} */

.navbar-text {
  margin: 0;
  padding: 0;
}

#basic-navbar-nav {
  margin-left: 60px;
}

.file-menu-dropdown {
  margin-right: 3px;
}

.navbar-clean-switch {
  align-self: flex-end;
  padding: 0 !important;
}

.alert-danger {
  text-align: center;
}

.load-notebook-container {
  display: flex;
  justify-content: center;
}

.load-button {
  margin: 0 0 0 10px !important;
}

.banner-form {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* adjust for responsive design */
.api-url-form {
  max-width: 900px !important;
  align-self: flex-start;
  margin-left: 170px !important;
}

.email-form {
  max-width: 500px !important;
  margin: 10px;
  /* align-self: center; */
}

.webhook-url {
  color: #6e757c;
}

.email-address-error {
  color: #ed7164;
  font-size: 16px;
}

.cell-toolbar,
.cell-toolbar-markdown {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  background: #2b2b29;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}

.run-button {
  margin-left: auto;
  margin-right: 5px;
}

.run-button:hover {
  cursor: pointer;
}

.cell-toolbar-markdown {
  background: #474b56;
  margin-bottom: 20px;
}

.add-cell-btn {
  margin: 15px 10px 15px -48px !important;
}

.last-add-cell-button {
  margin: 15px 10px 15px -498px !important;
}

.copy-webhook {
  margin-left: 10px;
}

.copied-text {
  font-size: 0.8rem;
  align-self: center;
  margin: 0 0 0 5px;
  border: 1px solid #e38a5f;
  padding: 5px;
  border-radius: 4px;
}

.add-cell-container {
  display: flex;
  justify-content: flex-start;
}

.output {
  text-align: left;
  max-width: 900px;
  overflow-wrap: break-word;
}

div .rendered-markdown {
  padding-top: 10px;
}

.form-group {
  margin-bottom: 0 !important;
}

.nav-buttons {
  display: flex;
  justify-content: center;
}

.react-switch {
  vertical-align: middle;
  margin-left: 8px;
  align-self: flex-end;
}

.dropdown-toggle:after {
  content: none !important;
}

.navbar-spinner {
  margin: 12px 5px !important;
}

#add-cell-button {
  background-color: #474b55;
  border-color: #474b55;
}

.navbar-vertical-bar {
  margin: 0 20px 0 5px;
}

.clean-mode-icon {
  margin-bottom: -2px;
}

.fa-plus-square,
.fa-plus-circle {
  font-size: 20px;
}

.run-button-icon {
  font-size: 10px;
}

.fa-times {
  font-size: 11px;
}

.delete-all-banner {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 !important;
}

.banner-buttons {
  margin-left: 2% !important;
}

.delete-all-btn {
  margin: 10px;
  color: #ed7164 !important;
  font-weight: 500 !important;
  background-color: white !important;
  padding: 2px 6px !important;
}

.alert-heading {
  align-self: center;
  margin: 0 !important;
  font-size: 20px !important;
}

.alert-danger {
  color: white !important;
  background-color: #ed7164 !important;
  border: none !important;
}

.logo-text {
  font-weight: 500;
}

.cellbar-spinner {
  margin-top: 8px;
  margin-left: auto;
  margin-right: 12px;
}

@media all and (max-width: 374px) {
  .react-codemirror2,
  .rendered-markdown,
  .cell-toolbar,
  .cell-toolbar-markdown,
  .output {
    max-width: 300px !important;
  }

  /* .App-body {
    padding-top: 100px;
  } */

  .add-cell-btn {
    margin: 15px 0 15px 0 !important;
  }

  .last-add-cell-button {
    margin: 15px 0 15px -150px !important;
  }

  .hidden {
    visibility: "hidden";
  }

  .navbar-expand,
  .navbar-collapse {
    flex-wrap: wrap !important;
    max-width: 100% !important;
    align-items: center !important;
  }

  .api-url-form {
    margin: 5px 0 !important;
  }

  .flex-container,
  .banner-form {
    flex-wrap: wrap;
  }
}

@media all and (min-width: 375px) {
  .react-codemirror2,
  .rendered-markdown,
  .cell-toolbar,
  .cell-toolbar-markdown,
  .output {
    max-width: 340px !important;
  }

  /* .App-body {
    padding-top: 100px;
  } */

  #basic-navbar-nav {
    margin-left: 10px;
  }

  .navbar-expand,
  .navbar-collapse {
    flex-wrap: wrap !important;
    max-width: 100% !important;
  }

  .add-cell-btn {
    margin: 15px 0 15px 0 !important;
  }

  .last-add-cell-button {
    margin: 15px 0 15px -170px !important;
  }

  .email-form {
    margin: 3px;
  }

  .api-url-form {
    margin: 5px 0 !important;
  }

  .flex-container,
  .banner-form {
    flex-wrap: wrap;
  }
}

@media all and (min-width: 660px) {
  .react-codemirror2,
  .rendered-markdown,
  .cell-toolbar,
  .cell-toolbar-markdown,
  .output {
    max-width: 560px !important;
  }

  /* .App-body {
    padding-top: 60px !important;
  } */

  .add-cell-btn {
    margin: 15px 10px 15px -48px !important;
  }

  .last-add-cell-button {
    margin: 15px 10px 15px -328px !important;
  }
}

@media all and (min-width: 1000px) {
  .react-codemirror2,
  .rendered-markdown,
  .cell-toolbar,
  .cell-toolbar-markdown,
  .output {
    max-width: 900px !important;
  }

  .last-add-cell-button {
    margin: 15px 10px 15px -498px !important;
  }
}
