.App {
  background-color: #484c55;
}

.CodeMirror {
  height: auto !important;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.react-codemirror2,
.rendered-markdown {
  width: 900px;
  text-align: left;
  height: auto !important;
}

.App-body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.alert-danger {
  text-align: center;
}

.cell-toolbar,
.cell-toolbar-markdown {
  width: 900px;
  display: flex;
  justify-content: space-between;
  background: #2b2b29;
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}

.run-button {
  margin-left: auto;
  margin-right: 5px;
}

.cell-toolbar-markdown {
  background: #474b56;
  margin-bottom: 20px;
}

.add-cell-btn {
  margin: 15px 10px 15px -48px;
}

.add-cell-container {
  display: flex;
  justify-content: flex-start;
}

.output {
  text-align: left;
  width: 900px;
}

div .rendered-markdown {
  border-top: 1px solid #6b757e;
  border-bottom: 1px solid #6b757e;
  padding-top: 10px;
}

.delete-all-btn {
  margin: 10px;
}

.nav-buttons {
  display: flex;
  justify-content: center;
}

.dropdown-toggle:after {
  content: none !important;
}
