label {
  margin-bottom: 0 !important;
  align-self: center;
}

code {
  color: #8dbc9d !important;
}

a {
  word-break: break-word;
}

.App {
  background-color: #484c55;
  font-family: "Roboto", sans-serif;
}

.CodeMirror {
  height: auto !important;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  font-family: "Roboto Mono", monospace !important;
}

.react-codemirror2,
.rendered-markdown {
  width: 900px;
  text-align: left;
  height: auto !important;
  border-radius: 0.2rem;
}

.App-body {
  /* padding-top: 60px; */
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.btn-secondary {
  background: rgba(73, 76, 84, 0) !important;
  border: none !important;
}

html,
body {
  overscroll-behavior: none;
}

.tooltip-inner {
  background-color: #6e757c !important;
}

.tooltip .arrow::before {
  border-bottom-color: #6e757c !important;
  border-top-color: #6e757c !important;
}

.App-link {
  color: #09d3ac;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #353a40 !important;
}

.navbar {
  padding: 0.25em 1rem !important;
}

.navbar-text {
  margin: 0;
  padding: 0;
  align-self: center;
}

#basic-navbar-nav {
  margin-left: 20px;
}

.file-menu-dropdown {
  margin-right: 3px;
}

.navbar-clean-switch {
  padding: 0 !important;
}

.navbar-dropdown-clickable {
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 20px;
}

.dropdown-text-button {
  margin-right: 7px;
}

.change-language-dropdown:hover {
  background-color: rgba(53, 58, 64, 0.5) !important;
  border-radius: 5px;
}

.fa-book-open:hover {
  color: rgba(203, 206, 207, 0.9) !important;
}

.run-button:hover {
  color: #8dbc9d !important;
  cursor: pointer;
}
.add-cell-icon:hover,
.clear-all-results:hover {
  color: #6897bb !important;
}

.delete-button-icon:hover {
  color: #ed7164 !important;
}

.title-form {
  width: 450px !important;
  margin: 0 auto;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 48px;
  z-index: 50;
}

.title-submit-btn {
  border-color: #c5c6c7 !important;
  background-color: #c5c6c7 !important;
  color: #474747 !important;
  border-radius: 0 0 5px 0 !important;
}

.title-submit-btn:hover {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
  color: white !important;
}

.centered {
  text-align: center;
}

.notebook-title {
  cursor: pointer;
}

.notebook-title:hover {
  color: #bec1c2 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.load-notebook-container {
  display: flex;
  justify-content: center;
}

.load-button {
  margin: 0 0 0 10px !important;
}

.banner-form {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* adjust for responsive design */
.api-url-form {
  max-width: 900px !important;
  align-self: flex-start;
  margin-left: 170px !important;
}

.email-form {
  max-width: 500px !important;
  margin: 10px;
}

.webhook-url,
.save-url {
  color: #ed7164;
  overflow: auto;
}

.bg-dark {
  background-color: rgba(52, 58, 64, 0.8) !important;
}

.email-address-error {
  color: #ed7164;
  font-size: 16px;
}

#basic-addon1 {
  border-radius: 0 0 0 5px !important;
}

.cell-toolbar,
.cell-toolbar-markdown {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  background: #2b2b29;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}

.run-button {
  margin-left: auto;
  margin-right: 5px;
}

.cell-toolbar-markdown {
  background: #474b56;
  margin-bottom: 20px;
}

.add-cell-btn {
  margin: 15px 10px 15px -48px !important;
}

.last-add-cell-button {
  margin: 15px 10px 15px -498px !important;
}

.copy-webhook {
  margin-left: 10px;
}

.copied-text {
  font-size: 0.8rem;
  align-self: center;
  margin: 0 0 0 15px;
  border: 1px solid #e38a5f;
  padding: 5px;
  border-radius: 4px;
  justify-self: flex-end !important;
}

.add-cell-container {
  display: flex;
  justify-content: flex-start;
}

.list-bottom {
  margin-bottom: 20px;
}

.output {
  text-align: left;
  max-width: 900px;
  overflow-wrap: break-word;
}

div .rendered-markdown {
  padding-top: 10px;
}

.form-group {
  margin-bottom: 0 !important;
}

.nav-buttons {
  display: flex;
  justify-content: center;
}

a.nav-link {
  margin-right: 3px !important;
}

.react-switch {
  vertical-align: middle;
  margin-left: 8px;
  align-self: flex-end;
}

.dropdown-toggle:after {
  content: none !important;
}

.navbar-spinner {
  margin: 12px 5px !important;
}

#add-cell-button {
  background-color: #474b55;
  border-color: #474b55;
}

.navbar-vertical-bar {
  margin: 0 20px 0 5px;
}

.clean-mode-icon {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: -2px;
}

.fa-plus-square,
.fa-plus-circle {
  font-size: 20px;
}

.run-button-icon {
  font-size: 10px;
}

.delete-all-banner {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px !important;
}

.banner-buttons {
  margin-left: 1% !important;
}

.delete-all-btn {
  color: #ed7164 !important;
  font-weight: 500 !important;
  background-color: white !important;
  border: 1px solid white !important;
}

.delete-all-btn:hover {
  background-color: #ed7164 !important;
  border: 1px solid white !important;
  color: white !important;
}

.alert-heading {
  align-self: center;
  margin: 0 !important;
  font-size: 20px !important;
}

.alert-danger {
  color: white !important;
  background-color: #ed7164 !important;
  border: none !important;
  position: sticky !important;
  top: 48px;
  text-align: center;
  border-radius: 0 !important;
  z-index: 100;
}

.logo-text {
  font-weight: 500;
}

.cellbar-spinner {
  margin-top: 8px;
  margin-left: auto;
  margin-right: 12px;
}

.modal-logo {
  margin-right: 10px;
  margin-top: 3px;
}

.save-clone-modal {
  padding-bottom: 10px !important;
}

.save-clone-buttons {
  padding-bottom: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.btn-primary {
  background-color: #6e757c !important;
  border-color: #6e757c !important;
}

.btn-primary:hover {
  background-color: #494c54 !important;
  border-color: #494c54 !important;
}

/* Cell Results Output Rows */
.list-group-item-success {
  background-color: #dcf6d1 !important;
}

.list-group-item-danger {
  background-color: #fbdbd8 !important;
  color: #991621 !important;
}
/* 
.list-group-item-light {
  color: #a0aab5 !important; */
/* background-color: #a0aab5 !important;
} */

/* Codemirror Syntax Highlighting Overrides: */
span.cm-keyword {
  color: #e38a5f !important;
}

span.cm-string {
  color: #8dbc9d !important;
}

span.cm-property {
  color: #e8e47b !important;
}

span.cm-def {
  color: #a0aab5 !important;
}

span.cm-atom {
  color: #fd9a86 !important;
}

@media all and (max-width: 374px) {
  .react-codemirror2,
  .rendered-markdown,
  .cell-toolbar,
  .cell-toolbar-markdown,
  .output,
  .title-form {
    max-width: 300px !important;
  }

  .add-cell-btn {
    margin: 15px 0 15px 0 !important;
  }

  .last-add-cell-button {
    margin: 15px 0 15px -150px !important;
  }

  .hidden {
    visibility: "hidden";
  }

  .navbar-expand,
  .navbar-collapse {
    flex-wrap: wrap !important;
    max-width: 100% !important;
    align-items: center !important;
  }

  .api-url-form {
    margin: 5px 0 !important;
  }

  .flex-container,
  .banner-form {
    flex-wrap: wrap;
  }

  .alert-heading {
    margin: 0 5px !important;
    font-size: 16px !important;
  }

  .delete-all-btn {
    margin: 3px 5px;
    font-weight: 400 !important;
    padding: 2px 5px !important;
  }
}

@media all and (min-width: 375px) {
  .react-codemirror2,
  .rendered-markdown,
  .cell-toolbar,
  .cell-toolbar-markdown,
  .output,
  .title-form {
    max-width: 340px !important;
  }

  .alert-heading {
    margin: 0 5px !important;
    font-size: 16px !important;
  }

  .delete-all-btn {
    margin: 3px 5px;
    font-weight: 400 !important;
    padding: 2px 5px !important;
  }

  .navbar-expand,
  .navbar-collapse {
    flex-wrap: wrap !important;
    max-width: 100% !important;
  }

  .add-cell-btn {
    margin: 15px 0 15px 0 !important;
  }

  .last-add-cell-button {
    margin: 15px 0 15px -170px !important;
  }

  .email-form {
    margin: 3px;
  }

  .api-url-form {
    margin: 5px 0 !important;
  }

  .flex-container,
  .banner-form {
    flex-wrap: wrap;
  }
}

@media all and (min-width: 660px) {
  .react-codemirror2,
  .rendered-markdown,
  .cell-toolbar,
  .cell-toolbar-markdown,
  .output,
  .title-form {
    max-width: 560px !important;
  }

  .add-cell-btn {
    margin: 15px 10px 15px -48px !important;
  }

  .last-add-cell-button {
    margin: 15px 10px 15px -328px !important;
  }
}

@media all and (min-width: 1000px) {
  .react-codemirror2,
  .rendered-markdown,
  .cell-toolbar,
  .cell-toolbar-markdown,
  .output,
  .title-form {
    max-width: 900px !important;
  }

  .last-add-cell-button {
    margin: 15px 10px 15px -498px !important;
  }
}
