.App {
  background-color: #484c55;
}

.CodeMirror {
  height: auto !important;
}

.react-codemirror2,
.rendered-markdown {
  width: 900px;
  text-align: left;
  height: auto !important;
}

.App-body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.cell-toolbar,
.cell-toolbar-markdown {
  width: 900px;
  display: flex;
  justify-content: space-between;
  background: #2b2b29;
}

.run-button {
  margin-left: auto;
  margin-right: 5px;
}

.cell-toolbar-markdown {
  background: #474b56;
  margin-bottom: 20px;
}

.btn-secondary {
  /* font-size: 25px; */
  /* margin: -10px; */
  /* font-weight: 600; */
}

/* To set margin on bottom add new cell button */
.add-cell-btn {
  margin: 25px auto 25px;
}

.output {
  text-align: left;
  width: 900px;
}

div .rendered-markdown {
  border-top: 1px solid #6b757e;
  border-bottom: 1px solid #6b757e;
  padding-top: 10px;
}

.delete-all-btn {
  margin: 10px;
}

.change-language-dropdown {
  margin-top: -2px;
}

.nav-buttons {
  display: flex;
  justify-content: center;
}
