* {
  font-family: "Be Vietnam", sans-serif;
}

h1,
p,
button {
  margin: 0 0 10px 0;
}

.hidden {
  display: none;
}

ul.code-output {
  border: 1px solid black;
  height: 50px;
  overflow: hidden;
  overflow-y: scroll;
}
